<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="name" id="" placeholder="name"><br> 
        <input type="number" name="contact" id="" placeholder="contact no"> <br>
        <input type="number" name="whatsapp" id="" placeholder="whatsapp"> <br>
        
    <input type="email" name="email" id="" placeholder="email"> <br>
    <input type="date" name="date" id=""><br>
    <p>Type of requirement</p><br>
    <input type="radio" name="requirement" id="" value="vendor">
    <label for="vendor">vendor</label><br>
    
    <input type="radio" name="requirement" id="" value="venue">
    <label for="venue">    venue    </label><br>

    <textarea name="comment" id="" cols="30" rows="10" placeholder="any other comment"></textarea>
    <button type="submit">submit</button>
    </form>
</body>
</html>